<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__section">
                <h3 class="footer__heading">MATRIS</h3>
                <p class="footer__text">Embrace Your Inner Devi</p>
            </div>
            <div class="footer__section">
                <h4 class="footer__heading">Explore</h4>
                <ul class="footer__links">
                    {{ range .Site.Menus.main }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
            <div class="footer__section">
                <h4 class="footer__heading">Connect</h4>
                <ul class="footer__links">
                    <li><a href="https://instagram.com/matris" target="_blank" rel="noopener">Instagram</a></li>
                    <li><a href="https://facebook.com/matris" target="_blank" rel="noopener">Facebook</a></li>
                    <li><a href="mailto:hello@matris.com">hello@matris.com</a></li>
                </ul>
            </div>
            <div class="footer__section">
                <h4 class="footer__heading">Customer Care</h4>
                <ul class="footer__links">
                    <li><a href="/shipping/">Shipping</a></li>
                    <li><a href="/returns/">Returns</a></li>
                    <li><a href="/care/">Saree Care</a></li>
                    <li><a href="/faq/">FAQ</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__copyright">&copy; {{ now.Year }} MATRIS. All rights reserved.</p>
        </div>
    </div>
</footer>
